<div>
<div class='label label-warning'>
			{{message}}
		</div>
<table>
	<tr>
		<td>First Name: </td>
		<td><input id="fname" ng-model="fname"/></td>
	</tr>
	<tr>
		<td>Last Name: </td>
		<td><input id="lname" ng-model="lname"/></td>
	</tr>
	<tr>
		<td>Email: </td>
		<td><input id="email" ng-model="email"/></td>
	</tr>
	<tr>
		<td>Password: </td>
		<td><input id="pass" type="password" ng-model="password"/></td>
	</tr>
	<tr>
		<td colspan="2">
			<a class="btn btn-info" ng-show="notProcessing" ng-click="submit()">Submit</a>
			<a class="btn btn-info" ng-show="notProcessing" ng-click="login()">Login Page</a>
		</td>
		
	</tr>
	
</table>			
 
		
</div>