<div>

<table>
	<tr>
		<td>First Name: </td>
		<td><input id="fname" ng-model="fname"/></td>
	</tr>
	<tr>
		<td>Last Name: </td>
		<td><input id="lname" ng-model="lname"/></td>
	</tr>
	<tr>
		<td>Email: </td>
		<td><input id="email" ng-model="email"/></td>
	</tr>
	<tr>
		<td>Password: </td>
		<td><input id="pass" type="password" ng-model="password"/></td>
	</tr>
	<tr>
		<td colspan="2">
			<input type="button" value="submit" ng-click="submit()"/>
		</td>
	</tr>
	<tr>
		<td colspan="2">
			{{message}}
		</td>
	</tr>
</table>			
 
</div>